body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: 1em;
  
}

button {
  border: none;
  background-color: transparent;
  padding: none !important;
}

.submit-button {
  background-color: rgb(144, 238, 144);
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 14pt;
  font-weight: 800;
  border: solid 1px rgb(120, 218, 120);
}

.submit-button:hover {
  filter: brightness(75%);
  cursor: pointer;
  
}

.book-list-header {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  font-weight: 800;
  margin: 10px 0 0 0;
}

.book {
  display: grid;
  grid-template-columns: 200px 200px 150px 45px 45px;
  
}

.book p {
  margin: 0.5em 0;
}

.edit-form {
  display: grid;
  grid-template-columns: 200px 200px 150px 90px;
  padding: 0;
}

.edit-form input {
  height: 1em;
  font-size: 1em;
  border-radius: 2px;
  margin: 0.5em 0;
  width:95%;
}


.form {
  display: flex;
  flex-direction: column;
  
}

label {
  font-weight: 600;
  font-size: 1.25;
  margin: 0 0 2px 0;
}

.input-container {
  display: flex;
  flex-direction: column;
}

input {
  border: solid 1px grey;
  border-radius: 5px;
  height: 2rem;
  font-size: 16pt;
  width: 640px;
  
  margin-bottom: 10px;
}

.fa {
  transition: 0.15s;
  border-radius: 50%;
  height:2rem;
  width:2rem;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 14pt;

}

.fa:hover {
  font-size: 16pt;
 
  cursor: pointer;
  background-color: rgba(255,99,71,0.25) !important;
  
}


